* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  max-width: 74rem;
  height: calc(100vh - 10rem);
  margin: 1rem auto;
  padding: 2.5rem;

  background: #ece6e6;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
}


main {
    flex: 1;
    padding: 3.5rem;
    background: #e0d6d6;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}


h1 {
    font-size: 1.5rem;
}

.first {
    flex: 1;
    overflow: auto;
    margin-top: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px ;
}

th {
    background-color:#7259ef;
    padding: 1rem;
    text-align: left;
    color: #f8f3f3;
    font-size: 0.875rem;
    line-height: 1.6;
}

th:first-child {
    border-top-left-radius: 8px;
    padding-left: 1.5rem;
  }

th:last-child {
    border-top-right-radius: 8px;
    padding-right: 1.5rem;
  }

td {
    background-color:#a497d7;
    border-top: 4px solid #cec8c8;
    padding: 1rem;
    font-size: 0.875rem;
    line-height: 1.6;
}

td:first-child {
    width: 10%;
    padding-left: 1.5rem;
  }

td:last-child {
    padding-right: 1.5rem;
  }